<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STATE ABBREVIATIONS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <h2>STATE ABBREVIATIONS</h2>
    <!-- Imagen -->
    <img src="/static/STATES.jpg" alt="State Abbreviations" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
  </div>
</body>
</html>
